<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.sunset.team7.www.parkhere">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.HomeActivity"></activity>
        <activity android:name=".Activities.RegisterActivity"></activity>
        <activity android:name=".Activities.PostListingActivity"></activity>
        <activity android:name=".Activities.PaypalActivity"></activity>
        <activity android:name=".Activities.TransactionActivity"></activity>
        <activity android:name=".Activities.ResultsActivity"></activity>
        <activity android:name=".Activities.TransactionConfirmationActivity"></activity>
        <activity android:name=".Activities.FilterActivity"></activity>
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Services.SearchService" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBhtkejbszLnmGCGf3ZfcNiNzMrYXrjOo8" />

    </application>

</manifest>